<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>Type_Icons</string>
<string>TITLEX</string>
<string>Air_Mission</string>
<string>Counter_Insurgency</string>
<string>Criminal_Event</string>
<string>Detainee_Operations</string>
<string>Enemy</string>
<string>Enemy_Action</string>
<string>Explosive_Hazard</string>
<string>Friendly_Action</string>
<string>Friendly_Fire</string>
<string>Non_Combat_Event</string>
<string>None_Selected</string>
<string>Other</string>
<string>Suspicious_Incident</string>
<string>Threat_Report</string>
<string>Unknown_Initiated_Action</string>
<string>TITLEX</string>
<string>TITLEX</string>
<string>Category_Icons</string>
<string>Accident</string>
<string>Air_Assault</string>
<string>Air_Movement</string>
<string>Ambush</string>
<string>Ambush_Threat</string>
<string>AMF_on_ANA</string>
<string>Amnesty</string>
<string>ANA_on_ANP</string>
<string>ANP_Training</string>
<string>Arrest</string>
<string>Arson</string>
<string>ARTY</string>
<string>Assassination</string>
<string>Assassination_Threat</string>
<string>Attack</string>
<string>Attack_Threat</string>
<string>Black_List</string>
<string>Blue_Blue</string>
<string>Blue_Green</string>
<string>Blue_White</string>
<string>Border_Ops</string>
<string>Breaching</string>
<string>Cache_Found_Cleared</string>
<string>Carjacking</string>
<string>Carjacking_Threat</string>
<string>CASEVAC</string>
<string>CCA</string>
<string>Checkpoint_Run</string>
<string>Close_Air_Support</string>
<string>Confiscation</string>
<string>Convoy</string>
<string>Cordon_Search</string>
<string>Counter_Insurgency</string>
<string>Counter_Mortar_Fire</string>
<string>Counter_Mortar_Patrol</string>
<string>Counter_Narcotic</string>
<string>Counter_Terrorism</string>
<string>Criminal_Activity</string>
<string>Defecting</string>
<string>Deliberate_Attack</string>
<string>Demonstration</string>
<string>Detain</string>
<string>Detained</string>
<string>Detainee_Release</string>
<string>Detainee_Transfer</string>
<string>Detention</string>
<string>Direct_Fire</string>
<string>Direct_Fire_Threat</string>
<string>Downed_Aircraft</string>
<string>Drug_Operation</string>
<string>Drug_Vehicle</string>
<string>Elicitation</string>
<string>Enemy_Action</string>
<string>Equipment_Failure</string>
<string>ERW_Recovered</string>
<string>ERW_Turn_in</string>
<string>Escalation_of_Force</string>
<string>Evidence_Turn_in_Received</string>
<string>Explosive_Remnants_of_War_ERW_Found_Cleared</string>
<string>Explosive_Remnants_of_War_ERW_Turn_in</string>
<string>Extortion</string>
<string>Finance</string>
<string>Food_Distribution</string>
<string>FRAGO</string>
<string>Graffiti</string>
<string>Green_Blue</string>
<string>Green_Green</string>
<string>Green_White</string>
<string>Hard_Landing</string>
<string>Hijacking</string>
<string>IDF_Counter_Fire</string>
<string>IDF_Interdiction</string>
<string>IED_Ambush</string>
<string>IED_Explosion</string>
<string>IED_False</string>
<string>IED_Found_Cleared</string>
<string>IED_Hoax</string>
<string>IED_Pre_detonation</string>
<string>IED_Suspected</string>
<string>IED_Threat</string>
<string>Indirect_Fire</string>
<string>Indirect_Fire_threat</string>
<string>Insurgent_Vehicle</string>
<string>Interdiction</string>
<string>Internal_Security_Forces</string>
<string>Intimidation</string>
<string>Intimidation_Threat</string>
<string>Kidnapping</string>
<string>Kidnapping_Threat</string>
<string>Lasing</string>
<string>Looting</string>
<string>Looting_Threat</string>
<string>MEDCAP</string>
<string>Medevac</string>
<string>MEDEVAC_Local_National</string>
<string>MEDEVAC_Other</string>
<string>MEDEVAC_Patient_Transfer</string>
<string>Meeting</string>
<string>Meeting_Development</string>
<string>Meeting_Security</string>
<string>Mine_Found_Cleared</string>
<string>Mine_Strike</string>
<string>Movement_to_Contact</string>
<string>Mugging</string>
<string>Murder</string>
<string>Murder_Threat</string>
<string>Narcotics</string>
<string>Natural_Disaster</string>
<string>NBC</string>
<string>Negligent_Discharge</string>
<string>None_Selected</string>
<string>Other</string>
<string>Other_Hostile_Action</string>
<string>Other_Defensive</string>
<string>Other_offensive</string>
<string>Patrol</string>
<string>Planned_Event</string>
<string>Poisoning</string>
<string>Police_Actions</string>
<string>Police_Internal</string>
<string>Premature_Detonation</string>
<string>Project_Closeout</string>
<string>Project_Start</string>
<string>Propaganda</string>
<string>PSYOP</string>
<string>PSYOP_TV_Radio</string>
<string>PSYOP_Written</string>
<string>QA_QC_Project</string>
<string>Raid</string>
<string>Raid_Threat</string>
<string>Recon</string>
<string>Recon_Threat</string>
<string>Reconnaissance</string>
<string>Recruitment_Willing</string>
<string>Refugees</string>
<string>Released</string>
<string>Repetitive_Activities</string>
<string>Reported_Location</string>
<string>Resupply</string>
<string>Rock_Throwing</string>
<string>RPG</string>
<string>Sabotage</string>
<string>Sabotage_Threat</string>
<string>SAFIRE</string>
<string>SAFIRE_Threat</string>
<string>Search_and_Attack</string>
<string>Sectarian_Violence</string>
<string>Security_Breach</string>
<string>Sermon</string>
<string>Shooting</string>
<string>Show_of_Force</string>
<string>Small_Arms_Threat</string>
<string>Small_Unit_Actions</string>
<string>Smuggling</string>
<string>Smuggling_Threat</string>
<string>Sniper_Ops</string>
<string>Sniper_Ops_Threat</string>
<string>Snow_and_Ice_Removal</string>
<string>Staff_Estimate</string>
<string>Supporting_AIF</string>
<string>Supporting_CF</string>
<string>Surrendering</string>
<string>Surveillance</string>
<string>TCP</string>
<string>Tests_of_Security</string>
<string>Theft</string>
<string>Theft_Threat</string>
<string>Threat</string>
<string>Transfer</string>
<string>Tribal</string>
<string>Tribal_Feud</string>
<string>Turn_In</string>
<string>UAV</string>
<string>Unexploded_Ordnance</string>
<string>Unknown_Explosion</string>
<string>Vandalism</string>
<string>Vehicle_Interdiction</string>
<string>VETCAP</string>
<string>VOGE</string>
<string>White_Blue</string>
<string>White_Green</string>
<string>White_White</string>
<string>TITLEX</string>
<string>TITLEX</string>
<string>TITLEX</string>
<string>Attack_On_Icons</string>
<string>Attack_ENEMY</string>
<string>Attack_FRIEND</string>
<string>Attack_NEUTRAL</string>
<string>Attack_UNKNOWN</string>
<string>TITLEX</string>
<string>TITLEX</string>
<string>Region_Icons</string>
<string>MND_BAGHDAD</string>
<string>MND_C</string>
<string>MND_N</string>
<string>MND_NE</string>
<string>MND_S</string>
<string>MND_SE</string>
<string>MNF_W</string>
<string>RC_CAPITAL</string>
<string>RC_EAST</string>
<string>RC_NORTH</string>
<string>RC_SOUTH</string>
<string>RC_WEST</string>
</array>
</plist>