<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>MND_BAGHDAD</string>
<string>MND_C</string>
<string>MND_N</string>
<string>MND_NE</string>
<string>MND_S</string>
<string>MND_SE</string>
<string>MNF_W</string>
<string>RC_CAPITAL</string>
<string>RC_EAST</string>
<string>RC_NORTH</string>
<string>RC_SOUTH</string>
<string>RC_WEST</string>
<string>None_Selected_Region</string>
<string>Unknown</string>


</array>
</plist>
