<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Air_Mission</string>
	<string>Counter_Insurgency</string>
	<string>Criminal_Event</string>
	<string>Detainee_Operations</string>
	<string>Enemy</string>
	<string>Enemy_Action</string>
	<string>Explosive_Hazard</string>
	<string>Friendly_Action</string>
	<string>Friendly_Fire</string>
	<string>Non_Combat_Event</string>
	<string>None_Selected</string>
	<string>Other</string>
	<string>Suspicious_Incident</string>
	<string>Threat_Report</string>
	<string>Unknown_Initiated_Action</string>
</array>
</plist>
